$grey: #e4e5e8;
$pink: #f75e5e;
$beige: #eaeae2;
$white: #FFF;
$navy: #293048;

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
  url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Medium.woff') format('woff'),
  url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'),
  url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Demi.woff') format('woff'),
  url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Futura PT", serif;
}

.content{
  min-height: 75vh;
  margin-top: 90px;
}
.container{
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container_content{
  margin-top: 20px;
}
.container_content__top_data{
  margin-top: 30px;
  font-size: 22px;
  line-height: 28px;
}
.container_content__sub_data{
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
}
.default_btn{
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  background: $pink;
  cursor: pointer;
  color: #FFFFFF;
}
.default_input{
  border: 2px solid $beige;
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px;
  transition: all .4s;
  font-size: 16px;
}
.default_input:focus{
  border: 2px solid $pink;
  transition: all .4s;
}

.default_label{
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #29304820;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}
a {
  text-decoration: none;
  color: #353925;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input, textarea, select, button {
  border: 0;
  outline: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  border: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"] {
  cursor: pointer;
}
