@import "default_styles";
/*=== Header ====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0 4px 16px rgb(41 48 72 / 50%);
  background: $white;
  z-index: 850;
}

.block_container {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}
.nav_item{
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.categories_list_place{
  position: absolute;
  top: 0;
  padding: 10px 5px;
  margin-top: 30px;
  width: 100%;
  min-width: 250px;
  z-index: 900;
  background: $white;
  transition: visibility .4s;
  visibility: hidden;
  box-shadow: 0 4px 16px rgb(41 48 72 / 50%);
  .nav_item{
    display: block;
    width: max-content;
    margin: 0;
    position: initial;
  }
}

.nav_item:first-child:hover .categories_list_place{
  transition: visibility .4s;
  visibility: visible;
}

.nav_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}

.nav_link:last-child {
  margin-right: 0;
}

.nav_link:after {
  display: block;
  content: '';
  margin-top: 2px;
  height: 1px;
  width: 100%;
  background: $navy;
  transform: scale(0);
  transition: transform .4s;
}

.nav_link:hover:after {
  transform: scale(1);
  transition: transform .4s
}

.logo_place {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
}

.sub_logo {
  display: block;
  font-weight: 450;
  font-size: 14px;
  text-align: center;
}
.right_nav{
  display: flex;
  align-items: center;
  height: 100%;
}
.right_nav__item_place{
  width: 45px;
  padding: 10px 0;
  display: inline-block;
  margin-right: 30px;
  overflow: hidden;
  position: relative;
}
.right_nav__item {
  width: 100%;
  height: 45px;
  opacity: 0.9;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  background: $beige;
  border-radius: 50%;
  cursor: pointer;
  .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #222222;
  }
  .data_total{
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }
}

.right_nav__item:last-child {
  margin-right: 0;
}

/*=== Footer ===*/
.footer {
  background: #353925;
  .categories_list_place{
    background: #353925;
    box-shadow: 0 4px 16px rgba(206, 206, 208, 0.5);
  }
}

.footer {
  .nav_link {
    color: #ffffff;
  }

  .logo {
    color: #ffffff;
  }

  .sub_logo {
    color: #ffffff;
  }

  .right_nav__item {
    background: #484E34;
    color: #ffffff;
  }

  .nav_link:after {
    background: #ffffff;
  }
}
.footer_nav_item{
  display: block;
  width: max-content;
  margin-bottom: 10px;
}
.footer_second_level{
  border-top: 1px solid $grey;
  width: 100%;
  padding: 20px 0;
  .container{
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.footer_second_level__part{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .nav_link:first-child{
    margin-bottom: 10px;
  }
}
.footer_second_level__part:last-child{
  align-items: flex-end;
}
.social_network__heading{
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.social_network_place{
  margin-top: 10px;
}

/*=== Modal Windows ===*/
.modal_window_place{
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #22222299;
}
.modal_window{
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 40%;
  background: #FFFFFF;
  z-index: 950;
  transform: translate(0, 120%);
  transition: transform 0.4s;
  border-top-left-radius: 5px;
  box-shadow: 1px 10px 20px #222;
}
.modal_window.open{
  transform: translate(0, 0);
  transition: transform .4s ease .5s;
}
.modal_window__close_place{
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
}
.close_place{
  font-size: 20px;
  cursor: pointer;
  .fa-xmark{
    margin-right: 10px;
  }
}
.modal_window_heading{
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.modal_window_data_place{
  padding: 20px;
}
.modal_window{
  .default_input{
    margin: 15px 0;
  }
}
/* Basket */
.basket_top_data{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.basket_products_place{
  overflow-y: auto;
  width: 100%;
  padding: 20px 15px 150px;
  height: 100%;
  position: relative;
  .product_data__flex{
    background: $beige;
    margin-top: 0;
    padding: 10px;
  }
}
.basket_product_card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.basket_product_card__photo_place{
  width: 45%;
  height: 140px;
  border: 2px solid $beige;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.basket_product_card__data{
  padding-left: 25px;
  position: relative;
  .basket_product_card__remove{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
  }
}
.basket_product_card__order_btn_place{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: $pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}


/* Authorization/Registration */
.offer_to_go{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  span{
    color: #446aec;
    text-decoration: underline;
    cursor: pointer;
  }
}
