@import "default_styles";
/*=== Header ====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0 4px 16px rgb(41 48 72 / 50%);
  background: $white;
  z-index: 850;
}

.block_container {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}
.nav_item{
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.categories_list_place{
  position: absolute;
  top: 0;
  padding: 10px 5px;
  margin-top: 30px;
  width: 100%;
  min-width: 250px;
  z-index: 900;
  background: $white;
  transition: visibility .4s;
  visibility: hidden;
  box-shadow: 0 4px 16px rgb(41 48 72 / 50%);
}

.nav_item:first-child:hover .categories_list_place{
  transition: visibility .4s;
  visibility: visible;
}

.nav_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}

.nav_link:last-child {
  margin-right: 0;
}

.nav_link:after {
  display: block;
  content: '';
  margin-top: 2px;
  height: 1px;
  width: 100%;
  background: $navy;
  transform: scale(0);
  transition: transform .4s;
}

.nav_link:hover:after {
  transform: scale(1);
  transition: transform .4s
}

.logo_place {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
}

.sub_logo {
  display: block;
  font-weight: 450;
  font-size: 14px;
  text-align: center;
}

.right_nav__item {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  opacity: 0.9;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  margin-right: 30px;
  overflow: hidden;
  background: $beige;
  border-radius: 50%;
  cursor: pointer;
}

.right_nav__item:last-child {
  margin-right: 0;
}

.right_nav__item {
  .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 20px;
      color: #353925;
    }
  }
}
/*=== Footer ===*/
.footer {
  background: #353925;
}

.footer {
  .nav_link {
    color: #ffffff;
  }

  .logo {
    color: #ffffff;
  }

  .sub_logo {
    color: #ffffff;
  }

  .right_nav__item {
    background: #222222;
      span {
        color: #ffffff;
      }
  }

  .nav_link:after {
    background: #ffffff;
  }
}


/*=== Modal Windows ===*/
.modal_window_place{
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #22222299;
}
.modal_window{
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 40%;
  background: #FFFFFF;
  z-index: 950;
}
.modal_window__close_place{
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
}
.close_place{
  font-size: 20px;
  cursor: pointer;
  .fa-times{
    margin-right: 10px;
  }
}
/* Basket */
.basket_top_data{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Authorization/Registration */