@import "header_footer";

.uppercase_heading{
  color: #353925;
  font-size: 32px;
  text-transform: uppercase;
}
.heading{
  font-weight: bold;
  font-size: 28px;
}

/*=== Catalog ===*/
.catalog_place{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
/* Левая часть */
.sorting_place{
  width: 25%;
  padding: 0 15px;
  height: 100%;
  margin-right: 5%;
}
.sorting_place__sorting{
  margin: 30px 0;
  hr{
    height: 4px;
    background: #111111;
    width: 100%;
    border-radius: 15px;
    margin: 20px 0;
  }
}
.sorting_flex{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.half_part_input_place{
  width: 50%;
  padding-left: 2.5px;
  font-size: 18px;
}
.half_part_input_place:first-child{
  padding-right: 2.5px;
}
.sorting_price_input{
  padding: 8px 5px 8px 0;
  font-size: 18px;
  width: 90%;
}

.sorting_flex__sorted_heading{
  text-transform: uppercase;
}
.sorting_flex__select{
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.sidebar_item{
  margin: 5px 0;
  transition: padding-left .4s;
}
.sidebar_item:hover{
  padding-left: 10px;
  transition: padding-left .4s;
}
.sidebar_item__link{
  font-size: 28px;

}
.sidebar_item__link._active{
  color: $pink;
}
/* Цветы */
.flowers_place{
  margin: 15px 0;
  width: 100%;
}
.flowers_place__flex{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.flowers_place__name{
  font-size: 18px;
  color: #4b4b4c;
  margin-bottom: 5px;
}

/* Кастомный чекбокс*/
.checkbox_place{
  margin-right: 15px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #EAEAED;
  border-radius: 100%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #EAEAED;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.catalog_sorted .custom-checkbox + label::before {
  background-color: #c2c5cb;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #EAEAED;
  border-radius: 100%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.catalog_sorted .custom-checkbox:checked + label::before {
  border-color: #A7BE4A;
  background-color: #A7BE4A;
  background-image: url('../img/check_mark.svg');
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #A7BE4A;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #A7BE4A;
  border-color: #A7BE4A;
}


/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #A7BE4A;
  background-color: #A7BE4A;
  background-image: url("../img/check_mark.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #A7BE4A;
}

/* Кастомный ползунок для фильтра по цене */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: $navy;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $beige;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  border: 1px solid $navy;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #222222;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
  background: $beige;
  border-radius: 25px;
  border: 0 solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
  border: 0 solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0 solid #000101;
  border-radius: 50px;
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0 solid #000101;
  border-radius: 50px;
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
  border: 0 solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}


/*== Правая часть ==*/
/* Подкатегории */
.catalog_products_place{
  width: 70%;
  padding: 10px 0;
}

.subcategories_place{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}
.subcategories_item{
  background: $grey;
  text-align: center;
  margin: 0 10px 10px 0;
  height: 100%;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 15px;
  min-width: 95px;
}
.subcategories_item._active{
  background: $pink;
  transition: background .4s;
}
.subcategories_item__link{
  font-size: 16px;
  font-weight: bold;
  ._active{
    color: $pink;
  }
}
/* Товары */
.products_place{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product_card{
  width: 32%;
  margin: 0 10px 10px 0;
  border: 4px solid #293048;
  height: 350px;
  border-radius: 2px;
}
.product_card:nth-child(3n){
  margin-right: 0;
}
.product_card__link{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_card__photo_place{
  height: 60%;
  position: relative;
  width: 100%;
  border-bottom: 1px solid $navy;
}
.product_card__photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_card__favorites_place{
  position: absolute;
  top: 5px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .fa-heart{
    color: #FFFFFF;
    font-size: 16px;
  }
  .fa-heart._active{
    color: $pink;
  }
}

.product_card__cell_place{
  position: absolute;
  top: 5px;
  left: 8px;
  height: 30px;
  width: auto;
  display: flex;
  background: $beige;
  border-radius: 68px;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.cell_place_flex{
  display: flex;
  align-items: center;
}
.cell_percent_place{
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  background: #FFF;
}
.cell_data{
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
}

.product_card__data_place{
  padding: 10px;
}
.product_data__name{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.product_data__flex{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.product_data__price{
  font-size: 28px;
  font-weight: bold;
}
.product_data__price.with_cell{
  text-decoration: line-through;
  color: #505050;
  font-size: 24px;
  text-decoration-color: $pink;
}
.product_data__cell_price{
  font-size: 28px;
  font-weight: bold;
  color: $pink;
}
.product_data__basket_place{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $beige;
  cursor: pointer;
  .fa-shopping-bag{
    font-size: 20px;
  }
}
/*=== Product Page ===*/
.product_place{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
.product_photos_place{
  width: 15%;
}
.product_small_photo_place{
  margin-bottom: 10px;
  width: 70%;
  cursor: pointer;
}
.product_small_photo{
  width: 100%;
  height: 120px;
  border-radius: 2px;
  border: 2px solid $navy;
}
.product_data_center{
  width: 40%;
  margin: 0 2.5%;
  height: 400px;
  border: 2px solid $navy;
}
.product_main_photo{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product_data_right{
  width: 40%;
  padding: 20px;
  background: $grey;
}
.product_data__heading{
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.similar_products{
  background: $beige;
  width: 100%;
  padding: 25px 0;
}

/* Постраничная навигация */
.pagination_place{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.pagination_place__item{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $beige;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bold;
}
.pagination_place__item._active{
  background: $pink;
}


/* Empty component */
.empty_place{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 25vh;
}
.empty_heading{
  font-size: 20px;
  letter-spacing: 0.05em;
}

/* Notification */
.notification {
  transform: translate(120%, 0);
  position: fixed;
  bottom: 40px;
  right: 15px;
  transition: transform .4s;
  width: auto;
  min-width: 250px;
  max-width: 350px;
}

.notification._active {
  transform: translate(0, 0);
  transition: transform .4s;
}

.notification_data {
  border-radius: 5px;
  font-weight: bold;
}

.notification_data.success {
  background: #4ffa4f;
}

.notification_data.error {
  background: #c90303;
}

.notification_heading {
  text-align: center;
  border-bottom: 2px solid $grey;
  font-size: 16px;
  padding: 10px 20px;
}

.notification_text {
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
}